<div class="row">
  <div class="section">
    <form class="full-width-forms" action="/" method="post" enctype="multipart/form-data">
      <label for="input">Wav file</label>
      <input name="input" type="file" accept=".wav">

      <label for="payload">Payload</label>
      <input name="payload" type="file">

      <div class="clear"></div>

      <p>
        <button class="btn small solid round blue">Process</button>
      </p>
    </form>
  </div>
</div>
